
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #202021;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  margin-top: 50px;
  background-color: #050505;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  overflow-y: auto;
  max-height: 70vh;
}

.card .message {
  background-color: #060606;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #f8f6f6;
  line-height: 1.6;
  white-space: pre-wrap; /* This ensures that line breaks and spacing are respected */
  font-family: "Courier New", Courier, monospace;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
#text {
  background-color: #050505;
  color: #f1e9ed;
}

.input-container input {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: all 0.3s ease;
  font-size: 16px;
}

.input-container input:focus {
  border-color: #d63384;
  box-shadow: 0 0 8px rgba(214, 51, 132, 0.2);
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  background-color: #d63384;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #bb2d75;
}
#nav {
  color: #fff;
}
