/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  /* Flexbox Gallery */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .photo {
    /* flex: 1 2 300px; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(174, 17, 17, 0.2);
    /* transition: transform 0.3s ease-in-out; */
  }
  
  .photo img:hover {
    transform: scale(1.1);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .photo {
      flex: 1 1 100%;
    }
  }
  
  @media (max-width: 480px) {
    header {
      font-size: 1.5rem;
    }
  }
  